apiVersion: apps/v1
kind: Deployment
metadata:
  name: example-server
spec:
  selector:
    matchLabels:
      app: example-server
  replicas: 1
  template:
    metadata:
      labels:
        app: example-server
    spec:
      containers:
      - name: example-server
        image: gcr.io/google-samples/kubernetes-bootcamp:v1
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: example-server
spec:
  ports:
  - port: 80
    protocol: TCP
    name: http
    targetPort: 8080
  selector:
    app: example-server